/* src/styles/contact.css */
.contact {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .contact-form h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .contact-input, .contact-textarea {
    width: 100%;
    padding: 1rem;
    border: none; /* Explicitly remove border */
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
  }
  
  .contact-input:focus, .contact-textarea:focus {
    background-color: #fff;
    outline: none;
  }
  
  .contact-textarea {
    resize: vertical; /* Allow vertical resizing */
  }
  
  .contact-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #0056b3;
  }
  